* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #363636;
    color: white;
    text-align: center;
}

h1 {
    padding: 10px;
}

.col-4 {
    background-color: rgb(249, 249, 249);
}

.col-4 p {
    font-size: 20px;
    color: #363636;
}

.oi-magnifying-glass {
    color: white;
}

.five-day-forecast {
    font-size: 24px;
    color: #363636;
}